@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*------------------Header&Data-----------------*/

* {
    font-family: 'M PLUS Rounded 1c';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
body {
    display: block;
    background:lightgray;
    overflow-y: scroll;
}
header {
    position: fixed;
    margin: 0;
    padding-bottom: 18px;
    padding-top: 10px;
    padding-right: 18px;
    background-color: blue ;
}
header .logo {
    width: 100vw;
    border: 1px solid orange;
}

header .logo-text {
    margin-left: 20px;
    font-size: 30px;
    color: white;
    float: left;
}

header ul {
    margin-right: 15px;
    float: right;
}

header ul li {
    float: left ;
}

header ul li a{
    display: block;
    padding-left: 90px;;



    font-size: 32;
    color:whitesmoke;
}

/*------------------Body and Slides-----------------*/
.slide1 {
    height: 600px;
    width: 100vw;
}
.imagecontainer {
    float: left;
    height: 600px;
    width: 45vw;
}

.aboutMecontainer {
    overflow: scroll;
    font-size: larger;
    float: right;
    width: 55vw;
    height: 600px;
    background-color: orange;

}

.imagecontainer .heyText {
    text-align: center;
    -webkit-text-stroke: 1px orange;
    font-size: 37;
    color: white;

}

.faceimage {
    border: 3px blue solid;
    float: left;
    height: 600px;
    width: 45vw;
}

.aboutMecontainer .aboutMe {
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}


.slide2 * {
    
}

.slide2 {
    padding-top: 30px;
    border: 3px blue solid;
    display: block;
    width: 100vw;
    background-color: orange;
    height: 2500px;
    text-align:  center;
}

.slide2 .work{
    margin-top: 30px;
    margin-bottom: 80px;
}


.slide2 .DoneTitle {
    color: white;
    font-size: 50;
    text-align: center;
    display: inline-block;
}

.slide2  * {
    display: block;
}

.slide2 img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
.slide2 .desc {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.slide2 .work h1 {
    font-size: 40;
    text-align: center;
    margin-bottom: 20px;
}
/*------------------footer------*/

footer {
    position: fixed;
    bottom: 0;
    background-color: blue;
    width: 100vw;
}
footer .footerText {
    color: white;
    font-size: 8;
    float: left;
    margin-left: 10px;
}

