* {
    font-family: 'M PLUS Rounded 1c';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    display: block;
    background:white;
    overflow-y: scroll;
}
header {
    position: fixed;
    margin: 0;
    padding-bottom: 18px;
    padding-top: 10px;
    padding-right: 18px;
    background-color: blue ;
}
header .logo {
    width: 100vw;
    border: 1px solid orange;
}

header .logo-text {
    margin-left: 20px;
    font-size: 30px;
    color: white;
    float: left;
}

header ul {
    margin-right: 15px;
    float: right;
}

header ul li {
    float: left ;
}

header ul li a{
    display: block;
    padding-left: 90px;;
    font-size: 32;
    color:whitesmoke;
}

/*------------------Body------*/
.formContainer {
    padding-top: 150px;
    height: 600px;
    width: 100vw;
    margin-left: 30px;
    color: black;
}

input[type=text] {
    text-align: center;
    color: black;
    font-size: 20;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;;
  }

button {
    width: 200px;
    height: 50px;
    color: black;
    background-color: cornflowerblue;
    font-size: larger;

  }

.buttonWrapper {
    display: flex;
    justify-content: center;
}

#message {
    height: 200px;
}

h1 {
    color: black;
    margin-bottom: 10px;
}

.formContainer{
    text-align: center;
}



/*------------------footer------*/

footer {
    position: fixed;
    bottom: 0;
    background-color: blue;
    width: 100vw;
}
footer .footerText {
    color: white;
    font-size: 8;
    float: left;
    margin-left: 10px;
}
